.filter-content{
    padding-top: 5px;
    display: grid;
    grid-template-columns: auto 1fr;

}
#st_search{
    width: 100%;
    max-width: 363px;
}
.filter-string{
    color: gray;
}
.std-filter-mark{
    color: red;
}
