:root {
    --main-color: #0B2139;
}
@font-face {
    font-family: "PhetsarathOTModified280414";
    src: url("../fonts/phetsarathOT/PhetsarathOT.eot");
    src: url("../fonts/phetsarathOT/PhetsarathOT.eot?#iefix") format("embedded-opentype"),
    url("../fonts/phetsarathOT/PhetsarathOT.otf") format("opentype"),
    url("../fonts/phetsarathOT/PhetsarathOT.svg") format("svg"),
    url("../fonts/phetsarathOT/PhetsarathOT.ttf") format("truetype"),
    url("../fonts/phetsarathOT/PhetsarathOT.woff") format("woff"),
    url("../fonts/phetsarathOT/PhetsarathOT.woff2") format("woff2");
}
@font-face {
    font-family: 'Noto Sans Bold';
    src: url('NotoSansLao-Bold.eot');
    src: local('Noto Sans Lao Bold'), local('NotoSansLao-Bold'),
        url('../fonts/NotoSansLao_Bold/NotoSansLao-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSansLao_Bold/NotoSansLao-Bold.woff2') format('woff2'),
        url('../fonts/NotoSansLao_Bold/NotoSansLao-Bold.woff') format('woff'),
        url('../fonts/NotoSansLao_Bold/NotoSansLao-Bold.ttf') format('truetype'),
        url('../fonts/NotoSansLao_Bold/NotoSansLao-Bold.svg#NotoSansLao-Bold') format('svg');
}
@font-face {
    font-family: 'Noto Sans Extra Bold';
    src: url('NotoSansLao-ExtraBold.eot');
    src: local('Noto Sans Lao ExtraBold'), local('NotoSansLao-ExtraBold'),
        url('../fonts/NotoSansLao_Extra_Bold/NotoSansLao-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSansLao_Extra_Bold/NotoSansLao-ExtraBold.woff2') format('woff2'),
        url('../fonts/NotoSansLao_Extra_Bold/NotoSansLao-ExtraBold.woff') format('woff'),
        url('../fonts/NotoSansLao_Extra_Bold/NotoSansLao-ExtraBold.ttf') format('truetype'),
        url('../fonts/NotoSansLao_Extra_Bold/NotoSansLao-ExtraBold.svg#NotoSansLao-ExtraBold') format('svg');
}
@font-face {
    font-family: 'Noto Sans Lao Regular';
    src: url('NotoSansLao-Regular.eot');
    src: local('Noto Sans Lao Regular'), local('NotoSansLao-Regular'),
        url('../fonts/NotoSansLao_Regular/NotoSansLao-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSansLao_Regular/NotoSansLao-Regular.woff2') format('woff2'),
        url('../fonts/NotoSansLao_Regular/NotoSansLao-Regular.woff') format('woff'),
        url('../fonts/NotoSansLao_Regular/NotoSansLao-Regular.ttf') format('truetype'),
        url('../fonts/NotoSansLao_Regular/NotoSansLao-Regular.svg#NotoSansLao-Regular') format('svg');
}
.notosans{
    font-family: 'Noto Sans Lao Regular' !important;
}
.notosans-b{
    font-family: 'Noto Sans Bold' !important;
}
.notosans-eb{
    font-family: 'Noto Sans Extra Bold' !important;
}
.f11{
    font-size: 11pt !important;
}
.f12{
    font-size: 12pt !important;
}
.f14{
    font-size: 14pt !important;
}
.f16{
    font-size: 16pt !important;
}
.center{
    text-align: center !important;
}
.right{
    text-align: right !important;
}
.phetsarath{
    font-family: 'PhetsarathOTModified280414' !important;
}
.none-outline{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select:none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.none-select{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.pointer{
    cursor: pointer !important;
}
.top-act{
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
}
select{
    color: black !important;
}
.swal2-container.swal2-center>.swal2-popup{
    padding-top: 30px !important;
}